:root {
    --text: #333333;
    --green: #C8D195;
    --beige: #deceb8;
    --radius: 1rem;
}

::selection {
    background: var(--green);
}

* {
    font-family: Inter;
    color: var(--text);
    line-height: 1.5;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: antiquewhite;
}

#main {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    background-image: url("img/dust.png");
    z-index: -1
}

h1 {
    margin: 0px;
    font-family: Space Mono, monospace;
    font-size: 55px;
    text-align: center;
}

h2 {
    letter-spacing: 4px;
    font-size: 1.75rem;
    font-family: Space Mono, monospace;
}

h3 {
    font-family: Space Mono, monospace;
}

h4 {
    /* font-weight: normal; */
    text-transform: uppercase;
    font-family: Space Mono;
    display: inline;
    /* background-color: var(--green); */
}

span {
    background-color: var(--green);
    border-radius: 1rem;
    padding-left: 5px;
    padding-right: 5px;
}

h4::after {
    content: "\A";
    white-space: pre-wrap;
}

p {
    margin: 0;
    /* text-align: justify; */
}

.work {
    border-left: 3px solid var(--text);
    padding-left: 1rem;
    margin-left: .5rem;
}

#header {
    padding: 1rem;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: var(--beige);
}


path {
    fill: transparent;
}

text {
    fill: var(--text);
    font-size: 40px;
}

#center {
    padding: 1rem;
    min-width: 300px;
    max-width: 575px;
}

.leaf {
    position: fixed;
    left: 0;
    opacity: 0.75;
    width: 500px;
    z-index: -5;
    transform: rotate(-45deg);
}

.spaceBetween {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

#links {
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#pfp {
    width: 60%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 0px auto;
}

#links>a:hover {
    text-decoration: none;
    background-color: antiquewhite;
}

hr {
    border: 1px solid var(--text);
}

.icon {
    width: 20px;
    height: 20px;
    fill: var(--text);
    border-radius: 1rem;
}

a:hover {
    background-color: var(--green);
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#sideFrame {
    min-width: 300px;
    max-width: 575px;
    padding: 2rem;
    flex-grow: 1;
    border: 2px dotted var(--text);
    border-radius: 1rem;
}

.projImg {
    width: 100%;
}

.projHolder {
    box-shadow: 0px 0px 30px lightgray;

    border-radius: 0.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    width:calc(100% - 0.5rem);

    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    left: -1.5rem;
}

.borderCorner{
    --b: 3px;   /* thickness of the border */
    --c: var(--text);
    /* color of the border */
    --w: 25px;
    /* width of border */

    border: var(--b) solid #0000;
    /* space for the border */
    --_g: #0000 90deg, var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
        conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 0 0 / var(--_p),
        conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100% / var(--_p);
}

.projects {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    width: 48%;
    margin-bottom: 2rem;
}

.project:hover {
    animation-name: flicker;
    animation-duration: 0.1s;
    outline: 2px dashed var(--text);
    outline-offset: 10px;
}

@keyframes flicker {
    50% {
        outline: 2px dashed var(--text);
        outline-offset: 12px;
    }

    100% {
        outline: 2px dashed var(--text);
    }
}

@media only screen and (max-width: 450px) {
    .project {
        width: 100%
    }
}

body::-webkit-scrollbar {
    width: .75em;
}

body::-webkit-scrollbar-track {
    background-color: antiquewhite;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--beige);
}

canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}